[DATABASE]
database = trendcrawler
user = trendcrawler
password = trendcrawler
host = 127.0.0.1

[LOG]
out_file = tc_out.html
out_file2 = tc_out2.log

[URLS]
url_target_base = www.neogaf.com
url_target_port = 80
url_target_directory = /forum
#url_target_directory = /forum/forumdisplay.php
#target_base_directory = /forum/forumdisplay.php?f=2
